@{
    ViewData["Title"] = "Home Page";
}

<br />
<h1>AthGCalendar</h1>
<br />
<h3>@ViewBag.Message</h3>
<br />
@using (Html.BeginForm("SyncToGoogleCalendar", "GoogleCalendar"))
{

    <input class="btn btn-danger" id="submit" type="submit" value="Sync to Google Calendar" />
}
